@import '../../../assets/css/variables.css';

.container {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: calc(100% - 6rem);
  max-width: 400px;

  transform: translateX(150%);
  transition: transform .5s;
  font-size: 1.4rem;

  z-index: 100;
}

.container.active {
  transform: translateX(0%);
}

.container button{
  display: none;
}

.container.active button{
  display: block;
}

.toast {
  background: var(--white);
  padding: 1rem 1.5rem;
  border-left-style: solid;
  border-left-width: .5rem;
  border-radius: 4px;
  box-shadow: var(--shadow2);
}

.default {
  border-left-color: var(--first-level);
}

.success {
  border-left-color: var(--green);
}
.warning, .confirmation {
  border-left-color: var(--orange);
}
.error, .danger {
  border-left-color: var(--red)
}

.close{
  outline: 0;
  cursor: pointer;
  display: inline-block;
  background: 0;
  transition: .3s ease;
  font-size: 0;
  position: absolute;
  top: .3rem;
  right: .3rem;
  overflow: hidden;
  border: none;
}

.close:before{
  content: '\00d7';
  color: var(--red);
  font-size: 2rem;
}

.prompt{
  display: none;
}

.prompt.confirmation{
  display: flex;
}

.container.active .prompt button,
.prompt.transition button{
  position: relative;
  border-radius: 2px;
  background-color: var(--white);
  color: var(--gray);
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow .2s ease;
  cursor: pointer;
  border: none;
  padding: .5rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.prompt button:hover, .prompt button:focus {
  box-shadow: var(--shadow1);
}

.prompt button:active{
  box-shadow: var(--shadow3);
}
