<div class="container" role="alert" aria-hidden="true" [class.active]="active">
	<div class="toast" [ngClass]="type">
		<p>{{message}}</p>
		<button class="close" (click)="close()">close</button>
		<div [class.prompt]="type === 'confirmation'" [class.transition]="transition">
			<button class="confirm" (click)="confirm()">
        <svg width="20" height="20">
          <use attr.xlink:href="{{svgUrlResolver.getUrl('icon-check')}}"/>
        </svg>
        Confirm
      </button>
			<button class="decline" (click)="close()">
        <svg width="20" height="20">
          <use attr.xlink:href="{{svgUrlResolver.getUrl('icon-close')}}"/>
        </svg>
        Decline
      </button>
		</div>
	</div>
</div>
