@import '../../../assets/css/variables.css';

.module {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
  background: var(--white);
  opacity: .8;
}

.img {
  z-index: 1011;
  width: 15%;
  max-width: 15rem;
}

.img svg {
  width: 50%;
  height: 50%;
}

.description {
  font-size: 2rem
}

@keyframes first-gear-rotate {
  0% {
    transform: translate(15%, 40%) rotate(25deg);
  }
  100% {
    transform: translate(15%, 40%) rotate(385deg);
  }
}

@keyframes second-gear-rotate {
  0% {
    transform: translate(85%, 0%) rotate(15deg);
  }
  100% {
    transform: translate(85%, 0%) rotate(375deg);
  }
}

.first-gear {
  fill: var(--orange);
  animation: first-gear-rotate 4s linear infinite;
  transform-origin: center center;
}

.second-gear {
  fill: var(--light-gray);
  animation: second-gear-rotate 4s linear infinite;
  transform-origin: center center;
  animation-direction: reverse;
}

.description {
  z-index: 1011;
}

