<div class="module">
  <form [formGroup]="editForm" (ngSubmit)="submitChanges(editForm.value, editForm)">
    <div class="form-control">
      <input type="text" id="title" [formControl]="editForm.controls.title">
      <label for="title">title</label>
      <div class="bar"></div>
    </div>
    <div class="form-control">
      <textarea name="description" id="description" cols="30" rows="10" [formControl]="editForm.controls.description"></textarea>
      <label for="description">Description</label>
      <div class="bar"></div>
    </div>
    <div class="form-control">
      <input type="text" id="date" [formControl]="editForm.controls.date" custom-date [class.not-empty]="editForm.controls.date.value">
      <label for="date">Date(dd.MM.yyyy)</label>
      <div class="bar"></div>
    </div>
    <div class="form-control">
      <input type="number" id="duration" numbers-only [formControl]="editForm.controls.duration">
      <label for="duration">Duration <span *ngIf="editForm.controls.duration.value">{{editForm.controls.duration.value | duration}}</span></label>
      <div class="bar"></div>
    </div>
    <div class="form-control">
      <label class="authors-label">Authors</label>
      <div class="authors-control">

        <ul id="authors-all">
          <li *ngFor="let author of selectableAuthors" class="selectable-author" (click)="selectAuthor(author)" [class.selected]="author.selected">
            <button type="button">{{author.name}}</button>
          </li>
        </ul>

        <button class="add" (click)="addAuthors()" type="button">add
          <svg width="20" height="20">
            <use attr.xlink:href="{{svgUrlResolver.getUrl('icon-chevron-right')}}"/>
          </svg>
        </button>

        <ul id="authors-active" class="active-authors">
          <li *ngFor="let author of activeAuthors">
            <span>{{author.name}}</span>
            <button class="remove" (click)="removeAuthor(author)" type="button">remove author
              <svg width="20" height="20">
                <use attr.xlink:href="{{svgUrlResolver.getUrl('icon-close')}}"/>
              </svg>
            </button>
          </li>
        </ul>

      </div>
    </div>
    <div class="form-control">
      <div class="form-actions">
        <button class="save">
          <svg width="20" height="20">
            <use attr.xlink:href="{{svgUrlResolver.getUrl('icon-check')}}"/>
          </svg>
          save
        </button>
        <button class="cancel" (click)="closeForm()" type="button">
          <svg width="20" height="20">
            <use attr.xlink:href="{{svgUrlResolver.getUrl('icon-close')}}"/>
          </svg>
          cancel
        </button>
      </div>
    </div>
  </form>
</div>
